* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(C:/Github/Portfolio_website/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 260px;
}

.header-name-container {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 260px;
    text-align: center;
}

.header-name {
    font-family: "Michroma", sans-serif;
    font-size: 80px;
    color: #ffff;
    text-shadow: 2px 2px 20px rgba(111, 217, 217, 0.5);
    font-weight: lighter;
}

.header-name-small {
    font-family: "Michroma", sans-serif;
    font-size: 50px;
    color: #ffff;
    text-shadow: 2px 2px 20px rgba(111, 217, 217, 0.5);
    font-weight: lighter;
}

.nav-eng-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 122px;
    justify-content: space-between;
    align-items: center;
    margin-left: 170px;
}

.eng-button-container {
    display: flex;
    width: 15%;
    height: 92px;
    border: solid;
    border-radius: 20px;
    border-color: #ffff;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px rgba(111, 217, 217, 0.5);;
}

.eng-text {
    font-family: "Michroma", sans-serif;
    font-size: 25px;
    color: #ffff;
    text-decoration: none;
    text-shadow: 2px 2px 25px rgba(111, 217, 217, 0.5);
    font-weight: bold;
}

.nav-bar {
    display: flex;
    height: 100px;
    width: 80%;
    border: solid;
    border-radius: 50px;
    border-color: #ffff;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-text {
    font-family: "Michroma", sans-serif;
    font-size: 25px;
    color: #ffff;
    text-decoration: none;
    text-shadow: 2px 2px 25px rgba(111, 217, 217, 1);
    font-weight: 550;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: auto;
}

.contents-container {
    flex-direction: column;
    display: flex;
    width: auto;
    height: 500px;
    justify-content: center;
    align-self: flex-end;
}

.header-container {
    display: flex;
    width: auto;
    height: 90px;
    justify-content: center;
    align-items: center;
}

.header-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 496px;
    height: 90px;
    border: solid;
    border-radius: 50px;
    border-color: #ffff;
    background-color: rgba(0, 0, 0, 0.5);
}

.header-bar-text {
    font-family: "Michroma", sans-serif;
    font-size: 25px;
    color: #ffff;
    text-decoration: none;
    text-shadow: 2px 2px 25px rgba(111, 217, 217, 0.5);
    font-weight: 200;
}

.info-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 488px;
}

.info-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 488px;
    padding-left: 10px;
}

.image-info {
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-top: -90px;
}

.info-text-container {
    display: flex;
    width: 245px;
    height: 190px;
    border: solid;
    border-radius: 20px;
    border-color: #ffff;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #ffff;
    font-family: "Anonymous Pro", sans-serif; ;
    font-weight: bold;
    font-size: 19px;
}

