* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(C:/Github/Portfolio_website/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 260px;
}

.header-name-container {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 260px;
    text-align: center;
}

.header-name {
    font-family: "Michroma", sans-serif;
    font-size: 80px;
    color: #ffff;
}

.header-name-small {
    font-family: "Michroma", sans-serif;
    font-size: 50px;
    color: #ffff;
}

.nav-eng-container {
    display: flex;
    flex-direction: row;
    width: 1048px;
    height: 122px;
}

.eng-button-container {
    display: flex;
    width: 125px;
    height: 92px;
    background-color: beige;
}

.nav-bar {
    display: flex;
    height: 870px;
    width: 122px;
    background-color: #0000, 20;
    border: none;
    border-style: solid;
    border-radius: 50px;
}